@{
    ViewBag.Title = "Socialite Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

        </div>
    </section>
}
<h3>Login to following services</h3>
<ol class="round">
    <li class="one">
        @Html.ActionLink("Login with Facebook", "Facebook")
    </li>

    <li class="two">
    </li>

    <li class="three">
    </li>
</ol>
